*{
    margin: auto;padding: auto;
}

header{
    background-color: #222831;
}

.title{
    color: #ff5722;
    text-shadow: 1px 1px 22px #eeeeee;
    font-size: 45px;
    margin-left: 35px;
    display: flex;
}

.menu{
    text-align: right;
    padding: 5px;
    margin: -30px 10px 10px 0 ;
}

.menu_nav{
    color: #677b97;
    position: relative;
    list-style-type: none;
    display: inline-block;
    width: 80px;
    text-align: center;
    margin: 5px 0 0 0 ;
}

section{
    background-color: #eeeeee;
    width: 45%;
    border-radius: 15px;
    height: 100%;
    text-align: center;
    padding: 15px;
    margin-top: 5px ;
    margin-bottom: 10px;
}

.hbld{
    padding: 5px;
    margin: 10px;
}

.hbld img{
    width: 150px;
}
.hbld p{
    letter-spacing: 1.8px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.hblds{
    display: none;
}

/* editar botão no javascript */
.btns{
    display: none;
}

.refrence{
    width: 100%;
    height: 100%;
    background-color: #222831;
    color: #eeeeee;
}

.title-2{
    
    color: #751d08;
    /* text-shadow: 1px 1px 2px #eeeeee; */
    font-size: 25px;
    margin-left: 5px;
    display: flex;
}



.refrence a:link{
    color: rgb(165, 165, 165);
}

.refrence a:visited{
    text-decoration: none;
    color: rgb(202, 202, 202);
}
